/*

  Styles from this codepen:

  https://codepen.io/official_naveen/pen/rgknI

*/

 

body {

    width: 800px;

    margin: 0 auto;

    font-family: 'Open Sans', sans-serif;

    background: url("../images/weather.jpg");

    background-size: cover;

  }

  .container {

    width: 600px;

    margin: 0 auto;

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    opacity: .7;

    background-color: darkgray;

    border-radius: 10px;

  }

  fieldset {

    display: block;

    -webkit-margin-start: 0px;

    -webkit-margin-end: 0px;

    -webkit-padding-before: 0em;

    -webkit-padding-start: 0em;

    -webkit-padding-end: 0em;

    -webkit-padding-after: 0em;

    border: 0px;

    border-image-source: initial;

    border-image-slice: initial;

    border-image-width: initial;

    border-image-outset: initial;

    border-image-repeat: initial;

    min-width: -webkit-min-content;

    padding: 30px;

  }

  .ghost-input, p {

    display: block;

    font-weight:300;

    width: 100%;

    font-size: 25px;

    border:0px;

    outline: none;

    width: 100%;

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    box-sizing: border-box;

    color: #4b545f;

    background: #fff;

    font-family: Open Sans,Verdana;

    padding: 10px 15px;

    margin: 30px 0px;

    -webkit-transition: all 0.1s ease-in-out;

    -moz-transition: all 0.1s ease-in-out;

    -ms-transition: all 0.1s ease-in-out;

    -o-transition: all 0.1s ease-in-out;

    transition: all 0.1s ease-in-out;

  }

  .ghost-input:focus {

    border-bottom:1px solid #ddd;

  }

  .ghost-button {

    background-color: transparent;

    border:2px solid #ddd;

    padding:10px 30px;

    width: 100%;

    min-width: 350px;

    -webkit-transition: all 0.1s ease-in-out;

    -moz-transition: all 0.1s ease-in-out;

    -ms-transition: all 0.1s ease-in-out;

    -o-transition: all 0.1s ease-in-out;

    transition: all 0.1s ease-in-out;

    color: white;

    font-weight: bold;

  }

  .ghost-button:hover {

    border:2px solid #515151;

  }

  p {

    color: #E64A19;

  }