<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Vremea</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="POST">
          <input
            name="country"
            type="text"
            class="ghost-input"
            placeholder="Enter a Country"
            required
          />
          <input
          name="state"
          type="text"
          class="ghost-input"
          placeholder="Enter a State/Judet"
          required
        />
        <input
        name="city"
        type="text"
        class="ghost-input"
        placeholder="Enter a Oras"
        required
      />
          <input
            id="submit"
            type="submit"
            class="ghost-button"
            value="Get Weather"
          />
        </form>
        <% if(pol !== null){ %>
          <p><%= pol %></p>
          <% } %> <% if(error !== null){ %>
          <p><%= error %></p>
          <% } %>
      </fieldset>
    </div>
  </body>
</html>
